<div class='container'>
  <div class='col-md-1'></div>
  <div class='col-md-10'>
  <div class='panel panel-default'>
  <div class='panel-heading'>
    <%= form_for @workout do |f| %>
    <div class='text-right'>
    <button type='submit' value='' class='fa fa-unlock btn btn-default btn-xs' id="wo-locked"> Done Editing</button>
    </div>
    <h1><%= f.text_field :name %></h1>
    <% end %>
  </div>
    <div class='panel-body'>
    <%= render 'displayworkout', exercises: @exercises %>
    </div>
  </div>
  <div class='col-md-1'></div>
  </div><!-- /.panel-default -->
</div><!-- /.container -->
