<div class="container">
  <h1>Welcome to Workout Now!</h1>
  <p>WorkoutNow! provides an easy way to create new workouts. As someone who appreciates structure but also new things, I've made it so users specify the length of time they wish to workout for and the category of exercises they'd like to include, and the application generates a random selection of excercises fitting the criteria. This way, the user is exposed to new exercises on a regular basis. If they like a particular workout, they can save and revisit it later. </p>

  <h2>Original Project</h2>
  <p>WorkoutNow! was my very first full-stack project as part of the <a href="https://generalassemb.ly/education/web-development-immersive"> General Assembly Web Development Immersive </a> (WDI) program. The <a href="http://workoutnow-general-assembly.herokuapp.com/"> original application </a> was created in 1 week, to demonstrate Ruby on Rails and PostgreSQL in producing a “crud” application (Create, Read, Update, Delete). It showcases my ability to design a schema, create a database, employ a Model-View-Controller framework to support a user interface, use CSS3 for styling, and push to GitHub. The original project did not include any javascript, since it had not been covered at that point.</p>

  <h2>Continuation of Workout Now!</h2>
  <p>I have continued to develop Workout Now! as a way to practice my dev skills. It now contains some javascript/jquery elements, including a collapsible navbar and slide up transitions. It also uses AJAX to remove exercises from workouts. </p>
</div>
