<div class="container">
  <h1>Welcome to WorkoutNow!</h1>
  <p>In order to see the full functionality of this application, please create a login which will allow you to save, edit, and delete workouts.</p>

  <h2>Original Project</h2>
  <p>WorkoutNow! was my very first full-stack project as part of the <a href="https://generalassemb.ly/education/web-development-immersive"> General Assembly Web Development Immersive </a> (WDI) program in 2014. The <a href="http://workoutnow-general-assembly.herokuapp.com/"> original application </a> was created in 1 week, as a way to demonstrate an ability to use Ruby on Rails and PostgreSQL to produce a “crud” application (Create, Read, Update, Delete). It showcases my ability to design a schema, create a database, employ a Model-View-Controller framework to support a user interface, use CSS3 for styling, and of course, push to GitHub. The original project did not include any javascript, since it had not been covered at that point.</p>

  <h2>Continuation of WorkoutNow!</h2>
  <p>I have continued to develop WorkoutNow! as a fun pet project. It now contains some javascript elements (more specifically AJAX), including a menu that collapses depending on the size of the viewport (laptop vs. handheld device) and slide up transitions when exercises get removed from workouts.</p>

  <h2>Known issues</h2>
  <p>One of the biggest roadblocks I’ve hit recently, is deciding whether to move forward with the original framework or create a rails API and use a javascript framework to access the data.  If someone were to review the code, he or she would see that a partial, versioned API exists now. If used properly, it could allow me to take the current degree of usability to the next level by allowing me to use AJAX calls to generate the views. This would be great, since one of the things that motivated me to become a developer in the first place was a dissatisfaction with the usability of many commonly used web applications such as bank websites and ERP software.</p>

  <p>Another big issue is the lack of data. As with any application, functionality is useless without a sizable portion of data that is both meaningful and accurate. In my research, there were very few APIs available containing exercises broken down in the way that I needed. In the end, I decided it best to start with an empty database, seeded with 27 exercises that I thought were both high quality and contained information I found to be relevant. The downside to this is there are very few exercises to start with, and no way to increase the exercises without gaining “real” users who can contribute valuable content.</p>

  <h2>Idea</h2>
  <p>The concept behind WorkoutNow! is to have an easy way to store and generate new workouts. I am someone who likes structure in my workouts, meaning I like to know exactly how long the workout should last, what muscle groups it is going to cover, and what kind of exercise it is (for example, cardio vs. weight-training vs. slow mind-body types of exercises). Ideally, I even want to schedule my workouts in a calendar, and indeed that is what I’ve found myself doing in the past. As a final wish for the project, I thought it would be particularly useful to share my workout “recipes”, if you will, with my friends, and borrow from them as well. Many of these features have not made it into the final product, though the project has been a great way for me to practice and gain experience.</p>
</div>
