.fa-plus-square-o {
  float: right;
}

#cncl-workout {
  float: right;
  padding: 4px 4px 0px 0px;
}

tr.over{
  background-color: #BEC3BC;
}

#wo-locked{
  text-decoration: none;
  color: #FFF;
}

#wo-remove{
  text-decoration: none;
  color: #FFF;
}

.wo-exercise-img-container {
  width: 100%;
}

.wo-exercise-img {
  max-width: 100%;
  float: right;
  padding: 10px;
}

.wo-ex-remove {
  float: right;
  color: #FFF !important;
}
