<div class="container">
  <%= render partial: "errors", locals: { exercise: @exercise} %>
  <div class="row">
    <div class="panel panel-default">
      <div class = "panel-body">
        <h3 class="text-center">Edit Exercise</h3>
        <%= render partial: "form", locals: {exercise: @exercise} %>
      </div> <!-- ./panel-body -->
    </div> <!-- /.panel -->
  </div> <!-- /.row -->
</div> <!-- /.container -->
